:root {
    --accent:#AAF;
    font-size:1.5em;
}

* {
    font-family: Unbounded, sans-serif;
    text-decoration: none;
    margin:1%;
    padding:0%;
}

body {
    margin: 1%;
    background-color:#0A0A0F;
}
nav, nav *{
    text-align: center;
    font-size:1em;
    color:#99A;
    background-color:#202025;
    border:solid 2px #25252A;
    border-radius:15px;
}
nav button {
    border:none;
    background:none;
    position: relative;
    text-decoration: none;
}
nav button:hover {
    display:inline;
    padding-left:1%;
    padding-right:1%;
    margin:-2px;
    margin-left:-1px;
    margin-right:-1px;
    background-color:#25252A;
    border:solid 1px #35353A;
    border-radius:5px;
}
nav button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color:#50508A;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
}
nav button.selected::after {
    transform: scaleX(1);
}

footer, footer * {
    text-align: center;
    font-size:0.8em;
    margin-top: 2%;
    color:#889;
}

section {
    font-size:1em;
    width: 96%;
    color:#BBC;
    background-color:#202025;
    border:solid 2px #25252A;
    border-radius:15px;
    margin-bottom:2%;
    padding:1%;
}
section a {
    color:#99A;
    border:none;
    background:none;
    position: relative;
    text-decoration: none;
    text-align:center;
}
section a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color:#60609A;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
}
section a:hover {
    display:inline;
    border-bottom:none;
}
section a:hover::after {
    transform: scaleX(1);
}

section button {
    color:#AAB;
    background-color:#505090;
    border:solid 2px #6060A0;
    border-radius:15px;
    font-size:0.9em;
    padding:0% 1% 0% 1%;
}
section button:hover {
    background-color:#6060A0;
    border:solid 2px #7070B0;
}

.start {
    text-align:center;
}
hr {
    border: solid 1px var(--accent);
    border-radius:20px;
    padding:0;
}
h1 {
    text-align: center;
    font-size:2em;
    color:#EEF;
}
h2 {
    color:#CCD;
    text-align:center;
    font-size:1.6rem;
}

ul{
    list-style:disc;
}
summary {
    list-style:none;
    display:inline;
}
summary:hover,a:hover {
    border-bottom:dotted 2px var(--accent);
}
details[open] summary {
    border-bottom:solid 2px var(--accent);
}
code {
    font-family:consolas;
    display:block;
    border:solid 2px var(--accent);
    line-break:auto;
    padding:1%;
}