*{
    color:black;
    margin:1%;
    padding:0;
    font-size: 1.125rem;

    text-align:justify-center;
    font-family:'Courier New', Courier, monospace;
    
    border:none;
    background-color:white;
    z-index:0;
}

nav,footer,h1,.start{
    text-align:center;
}
footer, footer *{
    font-size:1rem;
}
hr{
    border:solid 0.5px black;
}
h1{
    font-size:2rem;
}

a{
    text-decoration:none;
}
a:hover,button:hover,summary:hover{
    text-decoration:underline;
    text-decoration-thickness:1px;
}
nav button{
    font-size:1rem;
}
section button{
    margin:0 1% 0 1%;
}
.selected{
    font-weight:bold;
}
.back{
    position:fixed;
    top:0;
    left:0;
    z-index:0;
    background:transparent;
}

progress{
    border:solid 1px black;
    width:98%;
    align-self:center;
}
progress::-webkit-progress-bar{
    background-color:white;
}
progress::-webkit-progress-value{
    background-color:black;
}

.p25 th, .p25 td{
    width:25%;
}
table{
    display:flex;
    flex-direction:column;
    width:98%;
}
table, table *, th{
    padding:0;
    margin:0;
    text-align:center;
}
th,tr{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

tr{
    border-bottom:solid 1px black;
}
td{
    border-left:solid 1px black;
}
.none{
    border:none;
}

code{
    border:solid 1px black;
    display:block;
}

input{
    width:2rem;
}
summary,ul{
    list-style:none;
}

label{
    font-size:0.75em;
    color:purple;
}