:root{
    background-color:#05090D;
}
*{
    font-family:"Courier New";
}

body{
    color:#F1F5F9;
    background:none;
}
h1{
    text-align:center;
    color:#F1F5F9;
    font-size:2em;
    line-height:2em;
    margin:0em;
}
h2{
    text-align:center;
    color:#F1F5F9;
    font-size:1.6em;
    line-height:1.6em;
    margin:0em;
}
.projects p{
    color:#F1F5F9;
    font-size:1em;
    line-height:1.2em;
    text-align:justify;
    margin:0em;
    margin-bottom:1em;
}
section{
    padding:0em 1em 0em 1em;
}

nav{
    color:#F1F5F9;
    border-radius:5px;
    padding:0.2em 0.2em 0.2em 0.2em;
    font-size:1em;
    line-height:0.8em;
    margin-bottom:1em;
    text-align:center;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
nav button{
    color:#F1F5F9;
    background:#05090D;
    border:none;
    padding:0em 1em 0em 1em;
    font-size:1em;
    z-index:1;
}
nav button.selected{
    background-color:#1E1E24;
    border:solid 0px;
    border-radius:5px;
}

section a{
    color:#94A3B8;
    text-decoration:none;
    margin:0em;
}
a:hover{
    text-decoration:underline;
}

.skills, .projects{
    text-align:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.skills p{
    background-color:#1E1E24;
    border:solid 0px;
    border-radius:10px;
    display:block;
    width:7em;
    text-align:center;
    margin:0.2em;
    padding:0.1em;
}
.projects div{
    background-color:#1E1E24;
    border:solid 0px;
    border-radius:10px;
    display:block;
    width:auto;
    min-width:14em;
    max-width:20em;
    text-align:center;
    margin:0.2em;
    padding:0.4em;
}
.skills p bold, .projects div h1{
    font-size:1.1em;
    line-height:1.1em;
    font-weight:bold;
    display:block;
}
.right{
    position:fixed;
    right:1em;
    z-index:0;
}

footer{
    text-align:center;
}
footer button{
    margin-top:1em;
    color:#A1A5A9;
    text-align:center;
    font-size:1em;
    text-decoration:none;
    background:none;
    border:none;
}
footer button.selected{
    text-decoration:underline;
}
.license{
    background-color:#1E1E24;
    border:solid 0px;
    border-radius:10px;
    display:block;
    width:auto;
    min-width:14em;
    max-width:20em;
    text-align:justify;
    margin:0.2em;
    padding:0.4em;
}