table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}
table *{
    margin:0%;
    text-align:center;
}
/* hover effect
table tr:hover th{
    border-left:dotted 2px #AFAFAF;
}

table tr:focus-within th:first-child {
    border-left: solid 2px #AFAFAF !important;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
}
*/

.p15 th,
.p15 td {
    padding: 0.5rem;
    width: auto;
    word-wrap: break-word;
}
.p15 input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}